.window {
  width: 50%;
  height: 75%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;

  &.opened {
    z-index: 100;
  }
}

.content {
  background-color: red;
  height: calc(100% - 30px);
  border-left: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
}
