:root {
  --mono-50: #e3e3e3;
  --mono-100: #c3c3c3;
  --mono-200: #a0a0a0;
  --mono-300: #8e8e8e;
  --blue-50: #001cf5;
  --blue-100: #000ea3;
  --blue-200: #02007f;
  --green-200: #008282;
  --red-100: #eb3323;
  --red-200: #9c2054;
  --green-100: #26b50f;
}
